<<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    </head>
    <body>
    <h1>Hey,</h1>
    <p>
        Welcome to Our Site!
    </p>
    <p>
        To Login to this site, just follow this link: <%= @url %>.
    </p>
    </body>
</html>